<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<base href="/fa17g07/">
<!-- Contains head of website -->
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/saleListing.css"></link>
</head>


<body>

<!-- Contains header of website -->
    <% include partials/header %>
<div class="row main"> </div>
  <h2><%= saleListing[0].formattedAddress%> </h2> <h2 class="details"><small><%= saleListing[0].beds%> Beds | <%= saleListing[0].baths%> Baths | <%= saleListing[0].sqFt%> sq. ft. | <%= saleListing[0].lotType%></small></h2>
    <div class="container">
        <div id="main_area">
            <div class="row">
                <!-- For all the description -->
                <div class="col-md-6 left-block" id="slider-thumbs"> 
                        <h3 class="page-header price"><strong>$<%= saleListing[0].price %> </strong> </h3>
                        <!-- TODO: Route this button below correctly to the messaging page -->
                        <button type="button" class="btn btn-info center-block">Message Agent</button>
                        <hr class="separation">
                        <h3 class="page-header header"><%= saleListing[0].lotType%> Details</h3>
                        <ul class="listing">
                            <li class="a"><b>Year Built:</b> <%= saleListing[0].yearBuilt%></li>
                            <li class="a"><b>Bedrooms:</b> <%= saleListing[0].beds%></li>
                            <li class="a"><b>Bathrooms:</b> <%= saleListing[0].baths%></li>
                        </ul>
                        <ul class="listing">
                            <li class="a"><b>Lot Type:</b> <%= saleListing[0].lotType%></li>
                            <li class="a"><b>Floor Size:</b> <%= saleListing[0].sqFt%> sq. ft.</li>
                            <li class="a"><b>Lot Size:</b> <%= saleListing[0].lotSqFt%> sq. ft.</li>
                        </ul>
                        <hr class="separation">
                        <h3 class="page-header header">Description</h3>
                            <p><%= saleListing[0].description %> </p>
                        <hr class="separation">
                    <!-- Bottom switcher of slider -->
    <!--                 <ul class="hide-bullets">
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-0">
                                <img src="/saleImages/<%= saleListing[0].imageId %>.jpg">
                            </a>
                        </li>
                    </ul> -->
                </div>

                <!--For map and Images -->
                <div class="col-sm-6">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#images">Images</a></li>
                    <li><a data-toggle="tab" href="#map">Map</a></li>
                  </ul>
                  <div class="tab-content">
                    <div id="images" class="tab-pane fade in active">
                        <br>
                        <div class="col-xs-12" id="slider">

                            <!-- Top part of the slider -->
                            <div class="row">
                                <div class="col-sm-12" id="carousel-bounding-box">
                                    <div class="carousel slide" id="myCarousel">

                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="active item" data-slide-number="0">
                                                <img src="/saleImages/<%= saleListing[0].imageId %>.jpg"></div>

                                            <div class="item" data-slide-number="1">
                                                <img src="/saleImages/<%= saleListing[0].imageId %>.jpg"></div>

                                        </div>

                                        <!-- Carousel nav -->
                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div id="map" class="tab-pane fade">
                        <br>
                        <div class="mapContainer col-md-5" id="map"> </div>
                        <!-- <div style="height: 500px; width: 500px; border: 3px black solid; display: block;"><h1>MAP HERE</h1></div> -->
                    </div>
                </div>
                        


                </div>
                <!--/Slider-->
            </div><!-- Row -->  
        </div><!-- Main Area -->

     </div> <!-- Container -->
</div><!-- Row Main -->


<script>
  function initMap() {
    var latInput =  saleListing[0].lat;
    var lngInput = saleListing[0].lon;


    latInput = parseFloat(latInput);
    lngInput = parseFloat(lngInput);

    var uluru = {lat: latInput, lng: lngInput};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: uluru,
      mapTypeId: 'terrain'
    });

    // // Add the circle for this city to the map.
    // var milesCircle = new google.maps.Circle({
    //   strokeColor: '#FF0000',
    //   strokeOpacity: 0.8,
    //   strokeWeight: 2,
    //   fillColor: '#FF0000',
    //   fillOpacity: 0.35,
    //   map: map,
    //   center: uluru,
    //   radius: milesRadius * 1609.34
    // });


      var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: saleListing[0].formattedAddress
      });
    

    // var bounds = milesCircle.getBounds();
    // map.fitBounds(bounds);


  }
</script>
    <!-- Contains body of page -->
    
    <!-- End of search box area -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&libraries=places&callback=initMap" async defer></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<foot>
  <% include partials/footer %>
</foot>
</html>