<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<base href="/fa17g07/">
<!-- Contains head of website -->
<head>
    <% include partials/head %>
    <link rel="stylesheet" href="css/saleListing.css"></link>
    <title>Sale Listing</title>
</head>


<body>

<!-- Contains header of website -->
    <% include partials/header %>
<div class="row main"> </div>
  <h2><%= saleListing[0].formattedAddress%> </h2> <h2 class="details"><small><%= saleListing[0].beds%> Beds | <%= saleListing[0].baths%> Baths | <%= saleListing[0].sqFt%> sq. ft. | <%= saleListing[0].lotType%></small></h2>
    <div class="container">
        <div id="main_area">
            <div class="row">
                <!-- For all the description -->
                <div class="col-md-6 left-block" id="slider-thumbs"> 
                        <h3 class="page-header price"><strong>$<%= saleListing[0].price %> </strong> </h3>
                        <!-- TODO: Route this button below correctly to the messaging page -->
                        <!-- If User, they will be able to see this form -->
                       <!--  <a href="/login/" class="btn btn-info center-block">Message Agent</a> -->
                       <% if(typeof role != 'undefined') { %>
                        <% if(role == 'user') { %>
                        <div class= "col-sm-6 col-sm-offset-3">
                            <form class="form-horizontal" method="post" action="forSale/<%= saleId%>/message">
<!--                                 <div class="form-group">
                                    <label for="email">Phone Number:</label>
                                    <input name="phoneNo" type="text" class="form-control" id="phoneNo" min="0">
                                </div> -->
                                <div class="form-group">
                                    <label for="phoneNo">Phone #:</label>
                                    <input name="phoneNo" type="text" class="form-control" id="phoneNo" min="0" required>
                                </div>
                                <div class="form-group">
                                    <label for="messageContent">Message:</label>
                                    <textarea style="resize:none;" name="messageContent" class="form-control" id="messageContent" min="0" rows="4" required>Hi! I am interested to buy this house located at <%=saleListing[0].formattedAddress %>. Please contact me at the number and email provided.  Thanks!</textarea>
                                </div>
                                <div class="form-group ">
                                    <input type="submit" class="btn btn-info btn-block" value='Message Agent'></input>
                                </div>
                            </form>
                        </div>
                       <% } else { %>
                            <% if (role == 'user') {  %>
                            <a href="login/" class="btn btn-info center-block">Message Agent</a>
                            <% } %>
                            <% if (role != 'agent') {  %>
                                <a href="register/" class="btn btn-info center-block">Register to Message Agent</a>
                            <% } %>
                            
                          
                       <% }%>
                       <% }%>
                        <hr class="separation">

                        <h3 class="page-header header"><%= saleListing[0].lotType%> Details</h3>
                        <ul class="listing">
                            <li class="a"><b>Year Built:</b> <%= saleListing[0].yearBuilt%></li>
                            <li class="a"><b>Bedrooms:</b> <%= saleListing[0].beds%></li>
                            <li class="a"><b>Bathrooms:</b> <%= saleListing[0].baths%></li>
                            <li class="a"><b>Latitude:</b> <%= saleListing[0].saleId%></li>
                        </ul>
                        <ul class="listing">
                            <li class="a"><b>Lot Type:</b> <%= saleListing[0].lotType%></li>
                            <li class="a"><b>Floor Size:</b> <%= saleListing[0].sqFt%> sq. ft.</li>
                            <li class="a"><b>Lot Size:</b> <%= saleListing[0].lotSqFt%> sq. ft.</li>
                            <li class="a"><b>Longitude:</b> <%= saleListing[0].lon%></li>
                        </ul>
                        <hr class="separation">
                        <h3 class="page-header header">Description</h3>
                            <p><%= saleListing[0].description %> </p>
                        <hr class="separation">
                    <!-- Bottom switcher of slider -->
    <!--                 <ul class="hide-bullets">
                        <li class="col-sm-3">
                            <a class="thumbnail" id="carousel-selector-0">
                                <img src="/saleImages/<%= saleListing[0].imageId %>.jpg">
                            </a>
                        </li>
                    </ul> -->
                </div>

                <!--For map and Images -->
                <div class="col-sm-6">
                  <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#mapTab">Map</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#images">Images</a>
                    </li>
                  </ul>

                    <div class="tab-content">
                        <div id="mapTab" class="tab-pane in fade in active"> 
                            <div class="mapContainer col-sm-12" id="map"></div>
                            
                        </div>
                        <br>
                        <div id="images" class="tab-pane fade">
                            <br>
                            <div class="col-xs-12" id="slider">

                                <!-- Top part of the slider -->

                                    <div class="col-sm-12" id="carousel-bounding-box">

                                        <div class="carousel slide" id="myCarousel">

                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <% if(saleImages.length == 0) { %>
                                                     <div class="active item" data-slide-number="0">
                                                        <img src="images/house1.jpg"></div>
                                                <%} else {%>
                                                    <% for(var i = 0; i < saleImages.length; i++){ %>
                                                        <% if (i == 0) { %>
                                                            <div class="active item" data-slide-number="<%= i %>">
                                                            <img src="saleImages/<%= saleImages[i].imageId %>.jpg"></div>
                                                        <%} else {%>
                                                        <div class="item" data-slide-number="<%= i %>">
                                                        <img src="saleImages/<%= saleImages[i].imageId %>.jpg"></div>
                                                        <% } %>
                                                    <% } %>
                                                <% } %>
                                            </div>

                                            <!-- Carousel nav -->
                                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>

                                    </div>
                                <br>
                            </div>
                        </div>
                    </div> 
                    <hr class="separation">   
                </div>
                </div>
                <!--/Slider-->
            </div><!-- Row -->  
        </div><!-- Main Area -->

     </div> <!-- Container -->
</div><!-- Row Main -->


<script>
   var map;
      function initMap() {
        var latInput = <%= saleListing[0].lat%>;
        var lngInput = <%= saleListing[0].lon%>;
       
        latInput = parseFloat(latInput);
        lngInput = parseFloat(lngInput);
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: latInput, lng: lngInput},
          zoom: 14
        });
        var marker = new google.maps.Marker({
          position: {lat: latInput, lng: lngInput},
          map: map, 
          title: 'hello world'
   //        // title: JSON.stringify(<%= saleListing[0].formattedAddress %>)
      });
  }
</script>
    <!-- Contains body of page -->
    
    <!-- End of search box area -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&callback=initMap"
    async defer></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPXF-zkLqKND8w5ktBN5bdlTkQSVbw950&libraries=places&callback=initMap" async defer></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<foot>
  <% include partials/footer %>
</foot>
</html>